{% extends "index.html" %}
{% block content %}

<style>
  .ab{
width: 1040px;
float: left;
}
</style>

<div class="container">
    <div class=" chat-icon" >
      <button class="chat-btn" ><a href ="/">let's chat :)</a></button>
    </div>
    
 
      <div class="row justify-content-center" style="margin-top: 72px;">
        <div class="col-9">
          <br>
          <h1 style="font-size: 40px; font-style: solid; text-align:left">About</h1>
        </div>
        

        <div class="col-9">
          <br>
        <blockquote style="color:#fff; width: 100%">
          "Emotional support is an important protective factor for dealing with life's difficulties, 
          while loneliness has been associated with a wide variety of health problems. <br>
          A study conducted shows that persons felt like they don't have access to this valuable resource, with more than half
          saying they could have used at least a little more emotional support from those present in their lives."
          <h5 style="color:rgba(173, 171, 171, 0.932); float:right;"> 
            <br><i>-Psychological Association. (2019, October 8). Manage stress: Strengthen your support network.</i>
    <br><br><br>
    </h5>
        </blockquote>
        </div>
    <br>
    
 
        <div class="col-9">

          <div class="card text-dark bg-light mb-3">
            <div class="card-body">
              <h5 class="card-text" style="color:black; font-size: small" text-align: center;>
                Emotional Support Chatbot seeks to provide an easily accessible, readily available and user friendly solution to support the 
          practice of conversing and offering emotional support, providing a resource for persons in distress or simply seeking conversation.
          <br>Not everyone is open to discussing how they feel nor do they have the resources to do so, as such, Ashia provides a safe-space for users to
          vent and discuss anything-all while receiving related and meaningful responses.
    
          <br><br>
          <a href="/resources" target="_blank" rel="noopener noreferrer"><b>You are not alone, you are valued- help is available to ensure you feel better.</b></a>
        
          <br>
              </h5>
            </div>
          </div>
    
      
      <div class="col-9">
        <div class="card text-dark bg-light mb-3" style="width:975px; font-size: small">
          <div class="card-body">
            <p clas="card-text" style="color:black" text-align: center;>
              <b><h4>Guidelines</h4></b>
                <br>
                <h5>
                <b>Users are able to:</b>
                <ul>
                  <li>-Change their background color while interacting with Ashia, catering to how they feel</li>
                  <li>-Browse additional resources, local hotlines and institutions near them, providing more help if necessary</li>
                  <li>-Browse and add testimonies and ratings, allowing users to feel more comfortable during interaction
                  </li>
                </ul>
                
            
                <br> <b>In order to achieve optimal interaction, here are a few guidelines on how the chatbot works:</b>
                <br>
                Ashia uses deep learning in order to generate useful responses, using a predefined dataset. These interactions include small talk, jokes & trivia and most importantly, emotional support.
                
                <br><br>
                Jokes & trivia can be requested by simply asking to hear a joke ( for example, "i want to hear a joke", "tell me a joke") or asking for trivia ("trivia","tell me something interesting").
                <br><br>
                There are trigger words which prompts the response to redirect you to the Helpful Resources page, such as "help",die","end it all", in order to provide the best help possible and prevent negative outcomes.
                <br><br>
                There are a number of issues which provide real and expert advice from trusted sources, these include:
            anxiety, anger, depression, school stress, fear, worry, nervous, stress, overwhelmed, family problems, relationship problems, appearance problems, other.
            <br>In addition to being able to freely discuss these topics, users are also given the option to choose from the topics when they aren't sure how to begin talking by using phrases such as "i need help","i dont know what to do"
            <br><br>
            In cases where the responses are limited due to the dataset, users are encouraged to continue interaction with replies of "i'm listening" and asking for clarification when necessary.
            <br><br>
            <i>The aim of Emotional Support Chatbot is to provide a solution for users to feel comfortable expressing themselves and in turn gain help for whatever they are facing, whether it be through venting or using the additional features provided.
            Please use the extra help provided if needed- you are worth it. </i>
              
          </h5>
                <br><br>
                </p>
          </div>
    </div>
    </div>
    
    
      </div>
     

   
</div>

  

{% endblock %}