{% extends "index.html" %}
{% block content %}

    <div class="row">
      <div class="input-field s6 offset-s3">
          <form method="POST" action="/addtestimonial" class="col s6 offset-s3">  
            <p class="range-field">
              <input type="range" id="ratings" name="ratings" min="1" max="5" />
            </p>
            <input type="text" id="testimonials" name="testimonials" class="materialize-textarea"/>
            <input class="btn waves-effect waves-light blue darken-4" type="submit" value="Submit" name="action"/>
          </form>
      </div>
    </div>

{% endblock %}