{% extends "index.html" %}
{% block content %}

    <div class="row">
      <div class="input-field s6 offset-s3">
        <form method="POST" action="/testimonials" class="col s6 offset-s3">
          <input type="text" id="testimonials" name="testimonials" class="materialize-textarea"/>
          <input class="btn waves-effect waves-light blue darken-4" type="submit" value="Submit" name="action"/>
        </form>
      </div>
    </div>


{% for t in testimonials %}

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card-panel brown lighten-3">
      <p class="white-text" text-align: center;>
        {{ t.text }}
      </p>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
